<!DOCTYPE html>
<html>

<head>
    <title>SSEINS | 登录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/eleme-index.css" />
    <script src="https://cdn.bootcss.com/three.js/r83/three.js"></script>
    <link rel="stylesheet" href="./login.css" />
</head>
<style>
    [v-cloak] {
        display: none;
    }

    body {
        color: #fff;
        margin: 0;
        overflow: hidden;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
</style>

<body>
    <div id="app" v-cloak>
        <div v-if="router === 'login'" class="wrapper login" :style="style">
            <el-card style="width: 400px;">
                <div style="text-align: center; margin-bottom: 20px;"><img width="120" src="./res/Main.png" /></div>
                <hr id="divider" color="#999" size="1" style="opacity: 0.3; margin: 0 -100px 0 -100px;" />
                <el-form style="margin-top: 50px;" :model="loginForm" :rules="rules1" ref="loginForm">
                    <el-form-item prop="buptId">
                        <el-input v-model="loginForm.buptId" placeholder="学号"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" v-model="loginForm.password" placeholder="密码" @keyup.enter.native="login"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button style="width: 100%;" type="primary" @click="login">登录</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button style="width: 100%;" type="" @click="router='register'">注册</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </div>
        <div v-if="router === 'register'" class="wrapper register">
            <el-card style="width: 750px;">
                <el-form :model="registerForm" :rules="rules2" ref="registerForm">
                    <el-form-item label="学号" prop="buptId">
                        <el-input v-model="registerForm.buptId"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="registerForm.password"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="confirm">
                        <el-input type="password" v-model="registerForm.confirm"></el-input>
                    </el-form-item>
                    <el-form-item label="姓名" prop="name">
                        <el-input v-model="registerForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="班级" prop="klass">
                        <el-select filterable clearable v-model="registerForm.klass" @focus="findKlass()">
                            <el-option v-for="item in klassOptions" :key="item.KId"
                                :label="item.grade + '级' + item.num + '班'" :value="item.KId"></el-option>
                        </el-select>
                        <el-button type="success" @click="newKlass"><i class="el-icon-plus"></i>新建班级</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="register">注册</el-button>
                        <el-button @click="router = 'login'">返回</el-button>
                    </el-form-item>
                </el-form>
                <el-dialog :visible.sync="klassVisible">
                    <el-form :model="klassForm" :rules="rules3" ref="klassForm">
                        <el-form-item label="年级" prop="grade">
                            <el-date-picker v-model="klassForm.grade" type="year" placeholder="选择入学年份"></el-date-picker>
                        </el-form-item>
                        <el-form-item label="班级号" prop="num">
                            <el-input v-model="klassForm.num"></el-input>
                        </el-form-item>
                        <el-button type="success" @click="newAndSelect">新建并选择</el-button>
                        <el-button @click="klassVisible = false">返回</el-button>
                    </el-form>
                </el-dialog>
            </el-card>
        </div>
    </div>
</body>
<script src="lib/xml2json.js"></script>
<script src="lib/jquery-3.4.1.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/eleme-index.js"></script>
<script src="./restClient.js"></script>
<script>
    var container;
    var camera, scene, renderer, light;

    function getCube(positions, color) {
        let object3d = new THREE.Group();
        let boxGeometry = new THREE.BoxGeometry(1, 1, 1);
        let boxMaterial = new THREE.MeshLambertMaterial({ color: color });
        let borderGeometry = new THREE.EdgesGeometry(boxGeometry, 1);
        for (let position of positions) {
            let [x, y, z] = position;
            let cube = new THREE.Mesh(boxGeometry, boxMaterial);
            cube.position.set(x, y, z);
            cube.castShadow = true;
            cube.receiveShadow = true;
            let border = new THREE.LineSegments(borderGeometry, new THREE.LineBasicMaterial({ color: 0x009eff }));
            border.position.set(x, y, z);
            object3d.add(cube, border);
        }
        return object3d;
    }

    function getS(offset, color) {
        var mat = [
            [0, 3, 0],
            [1, 3, 0],
            [2, 3, 0],
            [0, 0, 0],
            [1, 0, 0],
            [2, 0, 0],
            [0, 2, 0],
            [1, 1.5, 0],
            [2, 1, 0]
        ];
        for (let i = 0; i < mat.length; i++) {
            for (let j = 0; j < 3; j++) {
                mat[i][j] += offset[j];
            }
        }
        return getCube(mat, color);
    }

    function getE(offset, color) {
        var mat = [
            [0, 3, 0],
            [1, 3, 0],
            [2, 3, 0],
            [0, 2, 0],
            [0, 1, 0],
            [0, 0, 0],
            [1, 0, 0],
            [2, 0, 0],
            [1, 1.5, 0]
        ]
        for (let i = 0; i < mat.length; i++) {
            for (let j = 0; j < 3; j++) {
                mat[i][j] += offset[j];
            }
        }
        return getCube(mat, color);
    }

    function getI(offset, color) {
        var mat = [[1, 3, 0], [1, 2, 0], [1, 1, 0], [1, 0, 0]];
        for (let i = 0; i < mat.length; i++) {
            for (let j = 0; j < 3; j++) {
                mat[i][j] += offset[j];
            }
        }
        return getCube(mat, color);
    }

    function getN(offset, color) {
        var mat = [
            [-1, 3, 0],
            [-1, 2, 0],
            [-1, 1, 0],
            [-1, 0, 0],
            [0, 2.5, 0],
            [0.375, 1.5, 0],
            [0.75, 0.5, 0],
            [1.75, 3, 0],
            [1.75, 2, 0],
            [1.75, 1, 0],
            [1.75, 0, 0],
        ];
        for (let i = 0; i < mat.length; i++) {
            for (let j = 0; j < 3; j++) {
                mat[i][j] += offset[j];
            }
        }
        return getCube(mat, color);
    }

    var cubes = [];
    for (let i = 0; i < 6; i++) {
        cubes.push(new THREE.Object3D());
    }

    container = document.createElement('div');
    document.body.appendChild(container);

    camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 2000);
    camera.position.set(1, 0, 30);
    camera.lookAt(0, 0, 0);

    scene = new THREE.Scene();
    cubes[0].copy(getS([-20, 0, 0], 0xf6f6f6));
    cubes[1].copy(getS([-15, 0, 1], 0xf6f6f6));
    cubes[2].copy(getE([-10, 0, 2], 0xf6f6f6));
    cubes[3].copy(getI([10, 0, 2], 0xf6f6f6));
    cubes[4].copy(getN([15, 0, 1], 0xf6f6f6));
    cubes[5].copy(getS([20, 0, 0], 0xf6f6f6));
    scene.add(...cubes);

    scene.background = new THREE.Color(0xccddee);

    let ambientLight = new THREE.AmbientLight(0xffffff, 1);
    scene.add(ambientLight);

    renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.shadowMap.enabled = true;
    container.appendChild(renderer.domElement);

    window.addEventListener('resize', function () {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
    }, false);

    let total = [0, 0, 0, 0, 0, 0];
    let totalRot = [0, 0, 0, 0, 0, 0];
    let direction = [1, -1, 1, -1, 1, -1];
    let rot = [-1, 1, -1, 1, -1, 1];
    for (let i = 0; i < cubes.length; i++) {
        let s = setInterval(() => {
            if (!cubes[i]) clearInterval(s);
            cubes[i].translateY(direction[i] * 0.01);
            cubes[i].rotateY(rot[i] * 0.001);
            total[i] += 0.01;
            if (total[i] >= 0.6) {
                total[i] = 0;
                direction[i] = -direction[i];
            }
            totalRot[i] += 0.001;
            if (totalRot[i] >= 0.08) {
                totalRot[i] = 0;
                rot[i] = -rot[i];
            }
        }, Math.random() * 30 + 15);
    }

    function loop() {
        renderer.render(scene, camera);
        requestAnimationFrame(loop);
    }


    var app = new Vue({
        el: '#app',
        data() {
            return {
                opacity: 0.0,
                style: 'opacity: 0.0',

                router: 'login',

                loginForm: {
                    buptId: "",
                    password: "",
                },

                rules1: {
                    buptId: [
                        { required: true, message: ' ', trigger: 'change' },

                    ],
                    password: [
                        { required: true, message: ' ', trigger: 'change' }
                    ],
                },

                klassVisible: false,
                registerForm: {
                    buptId: "",
                    name: "",
                    klass: "",
                    password: "",
                    confirm: ""
                },

                klassForm: {
                    grade: "",
                    num: ""
                },

                klassOptions: [],

                rules2: {
                    buptId: [
                        { required: true, message: '学号不能为空', trigger: 'change' },

                    ],
                    name: [
                        { required: true, message: '姓名不能为空', trigger: 'change' },

                    ],
                    klass: [
                        { required: true, message: '班级不能为空', trigger: 'change' },

                    ],
                    password: [
                        { required: true, message: '密码不能为空', trigger: 'change' }
                    ],
                    confirm: [
                        { required: true, message: '请再次输入密码', trigger: 'change' },
                        {
                            validator: (rule, value, callback) => {
                                if (this.registerForm.confirm !== this.registerForm.password) {
                                    callback(new Error("两次输入密码不一致"))
                                }
                            },
                            trigger: 'change'
                        }
                    ]
                },

                rules3: {
                    grade: [
                        { required: true, message: '年级不能为空', trigger: 'change' }
                    ],
                    num: [
                        { required: true, message: '班级号不能为空', trigger: 'change' }
                    ]
                }
            }
        },
        methods: {
            login() {
                this.$refs.loginForm.validate((valid) => {
                    if (valid) {
                        var self = this;
                        $.ajax({
                            url: urlRoot + 'student/login',
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            data: JSON.stringify(self.loginForm),
                            success(res) {
                                if (res === undefined) {
                                    self.$message.error('学号或密码错误，忘记密码请联系管理员');
                                } else {
                                    window.localStorage.setItem('sId', res.id);
                                    window.localStorage.setItem('token', res.token);
                                    if (res.id === '0') {
                                        window.location.href = './admin.html';
                                    } else {
                                        window.location.href = './router.xhtml'
                                    }
                                }
                            }
                        });
                    } else {
                        return false;
                    }
                });
            },

            _getNewForm() {
                return {
                    student: {
                        buptId: "",
                        name: "",
                        klass: "",
                        location: "",
                        tel: "",
                        email: "",
                        sex: "",
                        status: "",
                        password: "",
                        birthday: "",
                        ethnic: "",
                        company: "",
                        relationship: "",
                        intro: "",
                        avatar: ""
                    },

                    klass: {
                        grade: "",
                        num: ""
                    },

                };
            },

            findKlass() {
                restClient.getList('klass', null, (res, error) => {
                    var x2js = new X2JS();
                    this.klassOptions = x2js.xml_str2json("<results>" + res.documentElement.innerHTML + "</results>")["results"]['klass'];
                    if (!(this.klassOptions instanceof Array)) {
                        this.klassOptions = [this.klassOptions];
                    }
                }, async = false);
            },

            newKlass() {
                this.klassVisible = true;
            },

            register() {
                var postForm = this._getNewForm().student;
                for (let key in this.registerForm) {
                    postForm[key] = this.registerForm[key];
                }
                restClient.post('student', postForm, (res, error) => {
                    if (!error) {
                        this.$message({
                            message: '注册成功',
                            type: 'success'
                        });
                        this.registerForm = this._getNewForm().student;
                        this.router = 'login';
                    } else {
                        this.$message.error('注册失败');
                    }
                }, async = false)
            },

            back() {

            },

            newAndSelect() {
                this.$refs.klassForm.validate((valid) => {
                    if (valid) {
                        this.klassForm.grade = this.klassForm.grade.getFullYear();
                        var self = this;
                        restClient.post('klass', this.klassForm, (res, error) => {
                            var x2js = new X2JS();
                            var pk = x2js.xml_str2json("<results>" + res.documentElement.innerHTML + "</results>")["results"].KId;
                            self.findKlass()
                            self.registerForm.klass = pk;
                            self.klassVisible = false;
                        })
                    } else {
                        return false;
                    }
                })
            },
        }
    });

    let s = setInterval(() => {
        app.opacity += 0.01;
        app.style = `opacity: ${app.opacity}`
        if (app.opacity === 1) clearInterval(s);
    }, 1)

    loop();

</script>

</html>